<div class="card mb-3">
    <div class="card-body">
      <p style="font-size: 85px; font-weight: bold;" class="card-title d-none d-sm-block text-center">Innovation Story
        Landing</p>
      <p style="font-size: 30px; font-weight: bold;" class="card-title d-block d-sm-none text-center">Innovation Story
        Landing</p>
      <p class="card-text d-block d-sm-none t-justify">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
        dapibus neque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus.
        Vestibulum auctor dapibus neque.
      </p>
      <p class="card-text d-none d-sm-block t-justify" style="padding-right: 20%; padding-left: 20%">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
        dapibus neque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus.
        Vestibulum auctor dapibus neque.
      </p>
    </div>
  </div>
  <div>
    <div class="card-group row">
      <div class="card">
        <video width="100%" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
      </div>
      <div class="card">
        <video width="100%" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
      </div>
      <div class="card">
        <video width="100%" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
      </div>
    </div>
    <div class="card-group row">
      <div class="card">
        <video width="100%" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
      </div>
      <div class="card">
        <video width="100%" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <p class="card-text t-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
      </div>
      <div class="card">
        <video width="100%" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <p class="card-text t-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group mt-3">
    <div class="card col-sm-12 col-md-4">
      <div class="card-body row">
        <div class="col-4">
          <video width="100%" height="100" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
        <div class="col-7">
          <h5 class="card-title">Tier2: Story Headline</h5>
          <p class="card-text t-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt
            mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-4">
      <div class="card-body row">
        <div class="col-4">
          <video width="100%" height="100" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
        <div class="col-7">
          <h5 class="card-title">Tier2: Story Headline</h5>
          <p class="card-text t-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu
            risus. Vestibulum auctor
            dapibus neque.</p>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-4">
      <div class="card-body row">
        <div class="col-4">
          <video width="100%" height="100" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
        <div class="col-7">
          <h5 class="card-title">Tier2: Story Headline</h5>
          <p class="card-text t-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu
            risus. Vestibulum auctor
            dapibus neque.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group mt-3">
    <div class="card col-sm-12 col-md-4">
      <div class="card-body row">
        <div class="col-4">
          <video width="100%" height="100" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <a href="#" class="btn btn-dark">View Full Story</a>
        </div>
        <div class="col-7">
          <h5 class="card-title">Tier2: Story Headline</h5>
          <p class="card-text t-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt
            mauris eu risus. Vestibulum auctor
            dapibus neque.
          </p>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-4">
      <div class="card-body">
        <h5 class="card-title">Tier3: Story Headline</h5>
        <p class="card-text t-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt
          mauris eu risus. Vestibulum auctor
          dapibus neque.</p>
        <a href="#" class="btn btn-dark ml-2">View Full Story</a>
      </div>
    </div>
    <div class="card col-sm-12 col-md-4">
      <div class="card-body">
        <h5 class="card-title">Tier3: Story Headline</h5>
        <p class="card-text t-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt
          mauris eu risus. Vestibulum auctor
          dapibus neque.</p>
        <a href="#" class="btn btn-dark ml-2">View Full Story</a>
      </div>
    </div>
  </div>
  
  
  
  
